<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Medical Card</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merienda+One">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <!--allergy table-->
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.css'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css'>
    <script src='https://code.jquery.com/jquery-3.3.1.js'></script>
    <script src='https://unpkg.com/popper.js/dist/umd/popper.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.js'></script>
    <script src='https://rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/extensions/export/bootstrap-table-export.js'></script>


    <!--    <link rel="stylesheet" th:href="@{/medicalCard/css/header.css}"/>-->
    <link rel="stylesheet" th:href="@{/medicalCard/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/medicalCard/css/allergy.css}"/>
    <link rel="stylesheet" th:href="@{/medicalCard/css/pop-up.css}"/>
    <link rel="stylesheet" th:href="@{/medicalCard/css/allergy-form.css}"/>
</head>
<body>
<script th:inline="javascript">
    var URLObect = {
        id: [[${id}]],
        patient: [[${patientName}]],
        doctor: [[${doctorName}]],
        title: "default URLObect",
        getDataURL() {
            return this.id + "/" + this.patient + "/" + this.doctor;
        },
    }

    var OldTitleVarObj = {
        get() {
            return this.element().value;
        },
        element(){
            return document.getElementById("oldTitleVar");
        },
        set(value) {
            this.element().value = value;
        }
    }

    var AllergyObj = {
        getAllergyUpdateURL() {
            var oldTitle = OldTitleVarObj.get();
            return "@{http://localhost:8080/medical-card/page/allergy/update/" + URLObect.getDataURL() + "/" + oldTitle + "}";
            // return "http://localhost:8080/medical-card/page/allergy/update/" + URLObect.getDataURL() + "/" + oldTitle;
        },

        getAllergyFormElement() {
            return document.getElementById("form-for-allergy");
        },

        getAttributeOfForm(field) {
            return this.getAllergyFormElement().getAttribute(field);
        },

        setAttributeOfForm(field, value) {
            this.getAllergyFormElement().setAttribute(field, value);
        },

        printAttributeValue(attribute) {
            var att = this.getAllergyFormElement().getAttribute(attribute);
            console.log(att);
        },
        alertAttributeValue(attribute) {
            var att = this.getAllergyFormElement().getAttribute(attribute);
            alert(att);
        }
    }
</script>
<p style="display: none" th:text="'id: ' + ${id}"></p>
<nav class="navbar navbar-expand-xl navbar-light bg-light">
    <a href="#" class="navbar-brand"><i class="fa fa-cube"></i>Medical<b>Card</b></a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
        <div class="navbar-nav ml-auto">
            <a href="#" class="nav-item nav-link notifications"><i class="fa fa-bell-o"></i><span class="badge">1</span></a>
            <div class="nav-item dropdown">
                <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action">
                    <img th:src="@{/medicalCard/img/doctorLogo.png}" class="avatar" alt="Avatar">
                    <p th:text="${doctorName}"></p>
                    <b class="caret"></b>
                </a>
                <div class="dropdown-menu">
                    <a href="#" class="dropdown-item"><i class="fa fa-user-o"></i> Profile</a></a>
                    <a href="#" class="dropdown-item"><i class="fa fa-calendar-o"></i> Calendar</a></a>
                    <a href="#" class="dropdown-item"><i class="fa fa-sliders"></i> Settings</a></a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item"><i class="material-icons">&#xE8AC;</i> Logout</a></a>
                </div>
            </div>
        </div>
    </div>
</nav>
<h1 th:text="'Patient: ' + ${patientName}"/>

<div class="allergyWrapper">
    <!-- This script got from frontendfreecode.com -->
    <div class="container-fluid">
        <div id="toolbar">
            <button id="add-allergies" class="btn btn-success" disabled>New<i class="fas fa-plus"></i></button>
            <button id="update-allergies" class="btn btn-primary" disabled>Update<i class="fas fa-pencil-square"></i>
            </button>
            <button id="remove-allergies" class="btn btn-danger" disabled>Delete<i class="fas fa-trash-alt"></i>
            </button>
        </div>

        <table id="allergy-table">
            <col width="5%"/>
            <col width="30%"/>
            <col width="50%"/>

            <tbody th:each="allergy : ${allergies}">
            <tr>
                <td></td>
                <td th:text="${allergy.title}"></td>
                <td th:text="${allergy.reaction}"></td>
                <td>
                    <button id="update-allergy" type="submit" class="btn btn-warning"
                            th:onclick="openUpdateAllergyFormWithObj('[[${allergy}]]')"
                    >Update
                        <i class="fas fa-pencil-square"></i>
                    </button>
                    <button id="delete-allergy" class="btn btn-danger">Delete<i class="fas fa-trash-alt"></i></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="form-popup" id="form-for-allergy">
    <div id="oldTitleVar" style="display: none"></div>
    <form class="form-container" th:object="${updatedAllergy}" th:method="POST"
          th:action="@{http://localhost:8080/medical-card/page/allergy/update/(id=${id},
    doctorName=${doctorName},patientName=${patientName})}">
<!--        ,title=${title}-->
        <h2 type="text" id="allergy-logo">Default Allergy</h2>
        <label for="input-title-of-allergy"><b>Allergy</b></label>
        <input type="text" style="display: none" th:value="${title}" placeholder="Enter Allergy Old" id="input-old-title-of-allergy"
               required/>
        <input type="text" th:field="${updatedAllergy.title}" placeholder="Enter Allergy" id="input-title-of-allergy"
               required/>

        <label for="input-reaction-of-allergy"><b>Reaction</b></label>
        <input type="text" placeholder="Enter Reaction" th:field="${updatedAllergy.reaction}"
               id="input-reaction-of-allergy">

        <button th:type="submit"
                class="btn">Save
        </button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
</div>

<input type="text" value="Amsterdam,Washington,Sydney,Beijing,Cairo" data-role="tagsinput">
<script th:src="@{/medicalCard/js/allergy.js} "></script>
<hr>
</body>
</html>