<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Medical Card</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merienda+One">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <!--allergy table-->
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.css'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css'>
    <script src='https://code.jquery.com/jquery-3.3.1.js'></script>
    <script src='https://unpkg.com/popper.js/dist/umd/popper.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.js'></script>
    <script src='https://rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/extensions/export/bootstrap-table-export.js'></script>


    <!--    <link rel="stylesheet" th:href="@{/medicalCard/css/header.css}"/>-->
    <link rel="stylesheet" th:href="@{/medicalCard/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/medicalCard/css/allergy.css}"/>
    <link rel="stylesheet" th:href="@{/medicalCard/css/pop-up.css}"/>
    <link rel="stylesheet" th:href="@{/medicalCard/css/allergy-form.css}"/>
    <link rel="stylesheet" th:href="@{/medicalCard/css/myStyles.css}"/>
</head>
<body>
<script th:inline="javascript">
    var URLObect = {
        id: [[${id}]],
        patient: [[${patientName}]],
        doctor: [[${doctorName}]],
        title: "default URLObect",
        getDataURL() {
            return this.id + "/" + this.patient + "/" + this.doctor;
        },
        getHomeURL() {
            var str = "@{http://localhost:8080/medical-card/page/get/";
            str = "http://localhost:8080/medical-card/page/get/";
            str += this.getDataURL();
            return str;
        }
    }

    var OldTitleVarObj = {
        get() {
            return this.element().value;
        },
        element() {
            return document.getElementById("input-old-title-of-allergy");
        },
        set(value) {
            this.element().value = value;
        }
    }

    var AllergyObj = {
        getAllergyUpdateURL() {
            var oldTitle = OldTitleVarObj.get();
            return "@{http://localhost:8080/medical-card/page/allergy/update/" + URLObect.getDataURL() + "/" + oldTitle + "}";
        },

        getAllergyFormElement() {
            return document.getElementById("form-for-allergy");
        },

        getAttributeOfForm(field) {
            return this.getAllergyFormElement().getAttribute(field);
        },

        setAttributeOfForm(field, value) {
            this.getAllergyFormElement().setAttribute(field, value);
        },

        printAttributeValue(attribute) {
            var att = this.getAllergyFormElement().getAttribute(attribute);
            console.log(att);
        },
        alertAttributeValue(attribute) {
            var att = this.getAllergyFormElement().getAttribute(attribute);
        }
    }
</script>
<p style="display: none" th:text="'id: ' + ${id}"></p>

<nav class="navbar navbar-expand-xl navbar-light bg-light">

    <form th:method="POST" id="HomeButton" style="border: none"
          th:action="@{http://localhost:8080/medical-card/page/get/param/
          (id=${id},doctorName=${doctorName}, patientName=${patientName})}">
        <button type="submit" class="navbar-brand" style="border: none; background: none"><i class="fa fa-cube"></i>Medical<b>Card</b>
        </button>
    </form>

    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
        <div class="navbar-nav ml-auto">
            <a href="#" class="nav-item nav-link notifications"><i class="fa fa-bell"></i><span
                    class="badge">1</span></a>
            <div class="nav-item dropdown">
                <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action">
                    <img th:src="@{/medicalCard/img/doctorLogo.png}" class="avatar" alt="Avatar">
                    <b class="caret" th:text="${doctorName}"></b>
                </a>
                <div class="dropdown-menu">
                    <a href="#" class="dropdown-item"><i class="fa fa-user-o"></i> Profile</a></a>
                    <a href="#" class="dropdown-item"><i class="fa fa-calendar-o"></i> Calendar</a></a>
                    <a href="#" class="dropdown-item"><i class="fa fa-sliders"></i> Settings</a></a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item"><i class="material-icons">&#xE8AC;</i> Logout</a></a>
                </div>
            </div>
        </div>
    </div>
</nav>
<h1 th:text="'Patient: ' + ${patientName}"/>

<div class="allergyWrapper">
    <div class="container-fluid">
        <div id="toolbar">
            <button id="add-allergies" class="btn btn-success" th:onclick="openNewAllergyForm()">New<i
                    class="fas fa-plus"></i></button>
        </div>

        <table id="allergy-table">
            <col width="25%"/>
            <col width="55%"/>

            <tbody>
            <tr th:each="allergy : ${allergies}">
                <td th:text="${allergy.title}"></td>
                <td th:text="${allergy.reaction}"></td>
                <td>
                    <button id="update-allergy" type="submit" class="btn btn-warning"
                            th:onclick="openUpdateAllergyFormWithObj('[[${allergy}]]')"
                    >Update
                        <i class="fas fa-pencil-square"></i>
                    </button>

                    <form th:method="POST" class="btn btn-danger" th:action="@{http://localhost:8080/medical-card/page/allergy/delete/(id=${id},
    doctorName=${doctorName}, patientName=${patientName},allergyTitle=${allergy.title})}">
                        <button id="delete-allergy" style="background: none; border: none; color: #ffffff"
                                type="submit">Delete
                        </button>
                        <i class="fas fa-trash-alt"></i>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="recordsWrapper">
    <div class="container-fluid">
        <div id="toolbar-records">
            <button id="add-records" class="btn btn-success" th:onclick="openNewRecordForm()">New<i
                    class="fas fa-plus"></i></button>
        </div>

        <table id="records-table">
            <col width="10%"/><!--info-->
            <col width="25%"/><!--symptoms-->
            <col width="25%"/><!--treatment-->
            <col width="2%"/><!--doctor-->
            <col width="5%"/><!--date-->
            <col width="5%"/><!--edited-->
            <!--actions-->

            <tbody>
            <tr th:each="record : ${medicalRecords}">
                <td th:text="${record.info}"></td>
                <td th:text="${record.symptoms}"></td>
                <td th:text="${record.treatment}"></td>
                <td th:text="${record.doctor}"></td>
                <td th:text="${record.date}"></td>
                <td th:text="${record.edited}"></td>
                <td>
                    <button id="update-record" type="submit" class="btn btn-warning"
                            th:onclick="openUpdateRecordFormWithObj('[[${record}]]')"
                    >Update<i class="fas fa-pencil-square"></i>
                    </button>

                    <form th:method="POST" class="btn btn-danger" th:action="@{http://localhost:8080/medical-card/page/record/delete/(id=${id},
    doctorName=${doctorName}, patientName=${patientName},recordDate=${record.date})}">
                        <button id="delete-record" style="background: none; border: none; color: #ffffff" type="submit">
                            Delete
                        </button>
                        <i class="fas fa-trash-alt"></i>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="form-popup" id="form-for-update-record">
    <form class="form-container" th:method="POST"
          th:action="@{http://localhost:8080/medical-card/page/record/update/(id=${id},
    doctorName=${doctorName},patientName=${patientName})}">
        <!--   style="display: none"-->
        <h2 type="text" id="record-update-form-logo">Update Record</h2>
        <label for="input-info"><b>Info</b></label>
        <input type="text" th:field="${updatedRecord.info}" placeholder="Enter Info" id="input-info"
               required/>
        <label for="input-symptoms"><b>Symptoms</b></label>
        <input type="text" th:field="${updatedRecord.symptoms}" placeholder="Enter Symptoms" id="input-symptoms"/>
        <label for="input-treatment"><b>Treatment</b></label>
        <input type="text" th:field="${updatedRecord.treatment}" placeholder="Enter Treatment" id="input-treatment"/>
        <input type="text" th:field="${updatedRecord.doctor}" class="hiddenIput" id="input-doctor"/>
        <input type="text" th:field="${updatedRecord.date}" class="hiddenIput" id="input-date"/>
        <input type="text" th:field="${updatedRecord.edited}" class="hiddenIput" id="input-edited"/>
        <button th:type="submit"
                class="btn">Save
        </button>
        <button type="button" class="btn cancel" onclick="closeFormRecordUpdate()">Close</button>
    </form>
</div>
<div class="form-popup" id="form-for-add-record">
    <form class="form-container" th:method="POST"
          th:action="@{http://localhost:8080/medical-card/page/record/add/(id=${id},
    doctorName=${doctorName},patientName=${patientName})}">
        <!--   style="display: none"-->
        <h2 type="text" id="record-add-form-logo">Update Record</h2>
        <label for="input-info-add"><b>Info</b></label>
        <input type="text" th:field="${updatedRecord.info}" placeholder="Enter Info" id="input-info-add"
               required/>
        <label for="input-symptoms"><b>Symptoms</b></label>
        <input type="text" th:field="${updatedRecord.symptoms}" placeholder="Enter Symptoms" id="input-symptoms-add"/>
        <label for="input-treatment"><b>Treatment</b></label>
        <input type="text" th:field="${updatedRecord.treatment}" placeholder="Enter Treatment" id="input-treatment-add"/>
        <button th:type="submit"
                class="btn">Save
        </button>
        <button type="button" class="btn cancel" onclick="closeFormRecordAdd()">Close</button>
    </form>
</div>
<div class="form-popup" id="form-for-allergy">
    <div id="oldTitleVar" style="display: none"></div>
    <form class="form-container" th:method="POST"
          th:action="@{http://localhost:8080/medical-card/page/allergy/update/(id=${id},
    doctorName=${doctorName},patientName=${patientName})}">
        <!--   style="display: none"-->
        <h2 type="text" id="allergy-logo">Default Allergy</h2>
        <input type="text" style="display: none" th:field="${wrapper.value}" placeholder="Enter Allergy Old"
               id="input-old-title-of-allergy"
               required/>
        <label for="input-title-of-allergy"><b>Allergy</b></label>
        <input type="text" th:field="${updatedAllergy.title}" placeholder="Enter Allergy" id="input-title-of-allergy"
               required/>

        <label for="input-reaction-of-allergy"><b>Reaction</b></label>
        <input type="text" placeholder="Enter Reaction" th:field="${updatedAllergy.reaction}"
               id="input-reaction-of-allergy">

        <button th:type="submit"
                class="btn">Save
        </button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
</div>

<div class="form-popup" id="form-for-allergy-add">
    <form class="form-container" th:method="POST"
          th:action="@{http://localhost:8080/medical-card/page/allergy/add/(id=${id},
    doctorName=${doctorName},patientName=${patientName})}">
        <h2 type="text" id="allergy-logo-add">New Allergy</h2>
        <label for="input-title-of-allergy"><b>Allergy</b></label>
        <input type="text" th:field="${updatedAllergy.title}" placeholder="Enter Allergy"
               id="input-title-of-allergy-add"
               required/>
        <label for="input-reaction-of-allergy"><b>Reaction</b></label>
        <input type="text" placeholder="Enter Reaction" th:field="${updatedAllergy.reaction}"
               id="input-reaction-of-allergy-add">
        <button th:type="submit"
                class="btn">Save
        </button>
        <button type="button" class="btn cancel" onclick="closeFormNewAllergy()">Close</button>
    </form>
</div>
<!--<input type="text" value="Amsterdam,Washington,Sydney,Beijing,Cairo" data-role="tagsinput">-->
<script th:src="@{/medicalCard/js/allergy.js} "></script>
<script th:src="@{/medicalCard/js/record.js} "></script>
<hr>
</body>
</html>