<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My appointments</title>
</head>
<body>
    <h1>My appointments</h1>
    <div th:each="a : ${appointmentList}">
        <p th:text="'Doctor: ' + ${a.getDoctor().getUserId().email}" />
        <p th:text="'Date: ' + ${a.getDay()}" />
        <p th:text="'Time: ' + ${a.getStart()} + ' - ' + ${a.getFinish()}" />
        <p th:text="'Description: ' + ${a.getDescription()}" />
        <a th:href="'appointment/' + ${a.getId()} + '/cancel'">Cancel</a>
        <hr/>
    </div>
</body>
</html>