<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="/userInfo/css/error.css">
</head>
<body>
    <div class="site">
        <div class="sketch">
            <div class="bee-sketch red"></div>
            <div class="bee-sketch blue"></div>
        </div>

        <h1>Time Slot already taken
            <small>Choose another time, please</small></h1>
    </div>
<!--  <a th:href="'/makeAppointment/'+${id}">Back to appointment form</a>-->
</body>
</html>