.hiddenIput{
  display: none;
}

table{
  table-layout:fixed;
}

td{
  overflow: auto;
}

h1{
  margin-left: 1%;
}

.back-form{
  padding: 6px;
  margin-top: 2%;
  margin-bottom: 1.5%;
  margin-left: 1%;
}